.album-info-container{
    width: 100%;
    height: 100%;
    background-color: rgb(221, 255, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-review-box{
    margin: 20px;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    background-color: white;
    text-align: left;
}

@media (min-width: 600px) {
    .album-review-box{
        width: 50%;
    }
}

@media (max-width: 600px) {
    .album-review-box{
        width: 90%;
    }
}

.delete-button{
    width: 100px;
    height: 30px;;
    background-color: grey;
    cursor: pointer;
}

.delete-button:hover{
    background-color: rgb(176, 176, 176);
}
